<% flash.each do |messages_type, message_content| %>
  <div class="ui <%= messages_type %> message transition">
    <i class="close icon"></i>
      <div class="header">
        <%= message_content %>
      </div>
  </div>
  <% end %>